:root {
    --prim-blue: hsl(225, 100%, 94%);
    --prim-bright-blue: hsl(245, 75%, 52%);
    --neut-pale-blue: hwb(228 96% 0%);
    --neut-desat-blue: hsl(224, 23%, 55%);
    --neaut-dark-blue: hsl(223, 47%, 23%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 82%, 35%); }

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--prim-blue);
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    position: relative
  }

  .card {
    width: 450px;
    background-color: white;   
    border-radius: 1rem;
    position: absolute;
    overflow: hidden;
  }


  .card_container {
    padding: 2em;
  }

  .title {
    text-align: center;
    color: var(--neaut-dark-blue);
    font-weight: 900;
    font-size: 1.8rem;
    padding: 0;
  }

  .card_container p.subtitle {
    text-align: center;
    color: #8a8a8a;
    font-size: 1rem;
    padding: 0.5em 1em;
    margin: 0 auto;
  }

  
  .card_plan {
    background-color: var(--neut-pale-blue);
    display: flex;
    padding: 1.2em;
    margin: 0.8em 1.2em 1.2em 1.2em;
    border-radius: 0.75em;
    justify-content: space-between;
    align-items: center;
  }

  .card_plan_left {
    display: flex;
    align-items: center;
  }

  .card_plan_left div {
    margin-left: 1.5em;
  }

  .card_plan_left h5 {
    font-weight: 900;
    font-size: 1rem;
    color: var(--neaut-dark-blue);
  }

  .card_plan_left p {
    color: #8a8a8a;
    font-size: 0.875rem;

  }

  .card_plan a {
    font-weight: 900;
    color: var(--prim-bright-blue)  }
  
  .card_plan a:hover {
    text-decoration: none;
    color: var(--neut-desat-blue);
  }

  a.proceed_cta{
    display: block;
    text-decoration: none;
    background-color: var(--prim-bright-blue);
    color: white;
    padding: 0.8em 0;
    border-radius: 0.75rem;
    margin: 1.2em;
    text-align: center;
  }

  .proceed_cta:hover {
    background-color: var(--neut-desat-blue);
  }

  .cancel_cta {
    color: var(--neut-desat-blue);
    text-decoration: none;
    font-weight: 900;
    display: block;
    text-align: center;
  }

  .cancel_cta:hover {
    color: var(--neaut-dark-blue);
  }

  footer {
    position: absolute;
    bottom: 0;
    font-weight: 900;
  }

  footer a {
    text-decoration: none;
  }
